
@font-face {
	font-family: 'Gotham Rounded';
	src: url("fonts/gotham-rounded/gothamrnd-book-webfont.eot");
	src: url("fonts/gotham-rounded/gothamrnd-book-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gotham-rounded/gothamrnd-book-webfont.woff") format("woff"), url("fonts/gotham-rounded/gothamrnd-book-webfont.ttf") format("truetype"), url("fonts/gotham-rounded/gothamrnd-book-webfont.svg#gotham_roundedbook") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Rounded';
	src: url("fonts/gotham-rounded/gothamrnd-bold-webfont.eot");
	src: url("fonts/gotham-rounded/gothamrnd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gotham-rounded/gothamrnd-bold-webfont.woff") format("woff"), url("fonts/gotham-rounded/gothamrnd-bold-webfont.ttf") format("truetype"), url("fonts/gotham-rounded/gothamrnd-bold-webfont.svg#gotham_roundedbold") format("svg");
	font-weight: bold;
	font-style: normal;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: #fff;
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: normal;
	font-size: 150px;
	font-size: 25vmax;

	-webkit-tap-highlight-color: rgba(0,0,0,0);

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

div.logo-container {
	position: relative;
	width: 100%;
	height: 33%;
	background-color: #33bfde;
}

/* For old browsers. */
img.logo {
	position: absolute;
	max-width: 47%;
	top: 36%;
	left: 26%;
}

/* For modern browsers */
img.logo:empty {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

div.header-margin-proportional
{
	display: block;
	clear: both;
	width: 3%;
}
div.header-margin-proportional:after
{
	display: block;
	padding-top: 100%;
	content: '';
}

h1 {
	font-size: 14%;
	font-weight: bold;
	margin: 0;
	margin-top: 0;
	margin-left: 3%;
	padding: 0;
	line-height: 100%;
	color: #33bfde;
}

p.header-description {
	width: 94%;
	margin: 0;
	margin-top: 1%;
	margin-left: 3%;
	padding: 0;

	font-size: 8%;
	text-align: justify;
}

.vertical-list {
	width: 94%;
	height: 55%;
	margin-top: 3%;
	margin-left: 3%;
	overflow: scroll;
}

.horizontal-list {
	width: 100%;
	height: 46%;
	padding-top: 3%;

	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;

	font-size: 10%;

	border-top: 1px solid #d9e8ec;
}

.horizontal-list:first-child {
	height: 47%;
	padding-top: 0;
	border-top: none;
}

.horizontal-list ul {
	display: inline;
	list-style: none;

	height: 90%;
	margin: 0;
	padding: 0;

	white-space: nowrap;
	line-height: 0;
	vertical-align: top;
}

.horizontal-list li {
	display: inline-block;
	
	width: 35%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 5%;

	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 120%;
	vertical-align: top;
}
.horizontal-list li:first-child {
	padding-left: 0;
}

.horizontal-list li a {
	font-weight: bold;
	text-decoration: none;
	color: #ed5491;
	text-decoration: underline;
}

.horizontal-list li img {
	height: 60%;
	margin-bottom: 3%;
}

@media screen and (orientation: portrait) {
	body { font-size: 150px; font-size: 25vmax; }
	img.logo { max-width: 47%; }
}

@media screen and (orientation: landscape) {
	body { font-size: 135px; }

	div.logo-container { height: 25%; }
	img.logo { max-height: 64%; }

	div.header-margin-proportional { width: 1.5%; }
	h1 { margin-left: 1.5%; }
	p.header-description { margin-left: 1.5%; }

	.vertical-list { width:97%; margin-left: 1.5%; }
	.horizontal-list { height: 96%; }
	.horizontal-list:first-child { height: 99%; }
}

